@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-VariableFont_wght.woff),
    url(../fonts/Raleway-Italic-VariableFont_wght.woff),
    url(../fonts/Raleway-Bold.woff);
  src: url(../fonts/Raleway-VariableFont_wght.ttf) format(truetype),
    url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format(truetype),
    url(../fonts/Raleway-Bold.ttf) format(truetype);
}

body {
  font-family: Raleway, sans-serif;
  font-size: 1em;
  width: auto;
}

h1 {
  font-family: Lato, sans-serif;
}
